.box {
    width: 40%;
}

.square-map {
    border-radius: 2em;
    padding: auto;
}

.form-container {
    width: 30%;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(172, 169, 169);
    padding: 1.2em;
    margin-left: 15px;
    border-radius: 1em;
    height: 25em;
  }

  .form-overflow {
    overflow-y: scroll;
    background-color: #ffffff;
    height: 100%;
  }

  .form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .left-label {
    padding: 0.6em 2em 0.6em 2em;
    border-radius: 1.5em;
    background-color: #0a1e59;
    color: white;
    font-family: 'Times New Roman', Times, serif;
  }
  
  .right-label {
    margin-right: 10px;
    padding: 0.4em 2em 0.4em 2em;
    border-radius: 1.5em;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 0.2em solid black;
  }

.top-form {
    display: flex;
    align-self: center;
}

.overview {
  width: 70%;
}

  .form-container-overview {
    background-color: #ffffff;
    box-shadow: 3px 3px 10px rgb(172, 169, 169);
    padding: 0em 0em 0em 2em;
    border-radius: 1em;
    margin-left: 16px;
    height: 8em;
  }

  .header-overview {
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 3px 3px 10px rgb(172, 169, 169);
    color: rgb(0, 0, 0);
    border-radius: 1em;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: white;
    width: 97%;
    margin-left: 16px;
    font-size: 1.2em;
  }

  .flags {
    width: 24%;
    background-color: #0a1e59;
    color: white;
    box-shadow: 3px 3px 10px rgb(172, 169, 169);
    border-radius: 1em;
    margin-left: 16px;
    padding: 0.2em 1em 0.2em 1em;
  }

  .form-group-overview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
  }

  .borr-overview {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    box-shadow: 3px 3px 10px rgb(172, 169, 169);
    width: 68%;
    margin-left: 16px;
    margin-top: 10px;
    border-radius: 1em;
    padding: 10px 20px;
    height: 14em;
  }

  .header-overview-borr {
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
  }

  .overview-label {
    padding: 0.5em 1em 0.5em 1em;
    border-radius: 0.8em;
    color: rgb(0, 0, 0);
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    border: 0.1em solid #000000;
  }

  .flags-header {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 300;
    font-size: 2.5em;
  }

  .flags-header-date {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    text-align: right;
    font-weight: 300;
    font-size: 1.2em;
  }

  .flags-table {
    display: flex;
    align-items: center;
  }

  .circle {
    background-color: green;
    border-radius: 2em;
    width: 1.5em;
    height: 1.5em;
    margin-top: 5px;
    border: solid rgb(255, 255, 255) 0.2em;
    margin-right: 5px;
  }

  .circle.red {
    background-color: rgb(200, 26, 26);
  }

  .ews {
    margin-top: 10px;
  }